@page
@model Gympt.Pages.Login.LogoutModel
@{
}

<form id="logoutForm" method="post" asp-page="/Login/Logout"></form>

<h1>Se ha cerrado sesión</h1>

<p>
    <a href="/Index" class="btn btn-primary">
        Volver a la página principal
    </a>
</p>
